#left-toolbar {
  visibility: hidden;  /* toggled later by javascript upon initalization */
  position: fixed;
  z-index: 1;
  top: 154px;
  left: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#left-toolbar div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#left-toolbar div:hover {
  background: rgba(255, 255, 255, 0.3);
}

#left-toolbar div:active {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0.95);
}

#left-toolbar div.selected {
  background: rgba(144, 164, 194, 0.5);
}

#left-toolbar i {
  font-size: 24px;
}
