#left-toolbar {
  visibility: hidden; /* toggled later by javascript upon initalization */
  position: fixed;
  z-index: 1;
  top: 154px;
  left: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#left-toolbar div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#left-toolbar div:hover {
  background: rgba(255, 255, 255, 0.3);
}

#left-toolbar div:active {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0.95);
}

#left-toolbar div.selected {
  background: rgba(144, 164, 194, 0.5);
}

#left-toolbar i {
  font-size: 24px;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #222;
  width: 300px;
  max-width: 100%;
  text-align: center;

  .gui-button {
    padding: 0.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input[type='file'] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #444;
  color: #fff;
}

input[type='file']::file-selector-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

input[type='file']::file-selector-button:hover {
  background-color: #0056b3;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dialog-buttons button {
  flex: 1;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-message {
  font-size: 14px;
  color: #bbb;
}
